<div class="success-message">
  <h1>Cadastro realizado com sucesso!</h1>
  <p>Seu cadastro foi concluído com êxito. Você pode fazer login agora.</p>
  <%= link_to 'Fazer login', login_path, class: 'btn btn-primary' %>
</div>
