<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Medicação</title>
    <link rel="stylesheet" href="remedio.css"> <!-- Link para o seu arquivo CSS -->
    <script src="remedio.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            text-align: center;
        }

        .container {
            width: 80%;
            max-width: 400px; /* Define a largura máxima para manter o conteúdo legível */
        }

        .input-container {
            text-align: left;
            margin-bottom: 20px;
        }

        #pain-form button[type="submit"] {
            width: 100%; /* Faz o botão ocupar a largura total do seu contêiner */
        }

        .btn-back {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    <a href="<%= root_path %>" class="btn btn-primary btn-back">Voltar para a Página Inicial</a>
    <div class="center-content">
        <div class="container">
            <h1>Registrar Dores</h1>
<form id="pain-form" method="post" action="<%= registrar_dor_path %>">
                <%= csrf_meta_tags %>
                <!-- Campo Local da Dor -->
                <div class="input-container">
                    <label for="pain-location">Local da Dor:</label>
                    <select id="pain-location" name="pain-location" class="custom-select">
                        <option selected>Open this select menu</option>
                        <option value="cotovelo">Cotovelo</option>
                        <option value="dedos">Dedos</option>
                        <option value="joelho">Joelho</option>
                        <option value="maos">Mãos</option>
                        <option value="pescoco">Pescoço</option>
                        <option value="pes">Pés</option>
                        <option value="pulso">Pulso</option>
                    </select>
                </div>
                
                <!-- Campo Outro Local da Dor (Oculto por padrão) -->
                <div class="input-container" id="other-location-container" style="display: none;">
                    <label for="other-location">Qual o local da dor?:</label>
                    <input type="text" id="other-location" name="other-location">
                </div>

                <!-- Campo Intensidade da Dor -->
                <div class="input-container" style="margin-top: 20px; margin-bottom: 10px;">
                    <label for="pain-intensity">Intensidade da Dor:</label>
                    <div class="radio-group" id="pain-intensity">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="level1" name="pain-intensity" value="Leve">
                            <label class="form-check-label" for="level1">Leve</label>
                        </div>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="level2" name="pain-intensity" value="Moderada">
                            <label class="form-check-label" for="level2">Moderada</label>
                        </div>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="level3" name="pain-intensity" value="Considerável">
                            <label class="form-check-label" for="level3">Considerável</label>
                        </div>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="level4" name="pain-intensity" value="Intensa">
                            <label class="form-check-label" for="level4">Intensa</label>
                        </div>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="level5" name="pain-intensity" value="Muito Intensa">
                            <label class="form-check-label" for="level5">Muito Intensa</label>
                        </div>
                    </div>
                </div>
                                
                <!-- Campo Descrição da Dor -->
                <div class="input-container" style="margin-top: 20px;">
                    <label for="pain-description">Descrição da Dor:</label>
                    <textarea id="pain-description" name="pain-description" style="width: 100%;"></textarea>
                </div>
                             
                <!-- Botão de Submissão -->
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
</body>
</html>
