<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Exercícios</title>
    <link rel="stylesheet" href="exercicio.css"> <!-- Link para o seu arquivo CSS -->
    <style>
        /* Adicione seus estilos CSS personalizados aqui, se necessário */
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .exercise-info {
            margin: 20px 0;
        }

        .exercise-confirmation {
            margin: 20px 0;
        }

        .back-button {
            align-self: flex-start;
            margin-left: 20px;
        }

        .my-custom-btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }

        .my-custom-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <a href="<%= root_path %>" class="btn btn-primary back-button">Voltar para a Página Inicial</a>
    <div class="container">
        <h1>Registrar alongamentos</h1>
        <div class="exercise-info">
            <p>Faça alongamentos diários para melhorar sua saúde.</p>
            <img src="https://laboratoriosaogeronimo.com.br/upload/noticias/2021/291b4136a72111ff441eeaa1ba21f0dd.png" alt="Exemplo de Alongamento">
        </div>
        <div class="exercise-confirmation">
            <p>Você fez seus alongamentos hoje?</p>
            <label>
                <input type="radio" name="exercise-confirmation" value="sim"> Sim
            </label>
            <label>
                <input type="radio" name="exercise-confirmation" value="nao"> Não
            </label>
        </div>
        <button type="submit" class="my-custom-btn">Registrar</button>
    </div>
</body>

</html>
