<div class="d-flex justify-content-between align-items-center">
  <h1 class="my-custom-heading">Reumato Home.</h1>
  <%= link_to "Dor", dor_path, class: "btn btn-primary my-custom-btn" %>
  <%= link_to "Remédio", remedio_path, class: "btn btn-primary my-custom-btn" %>
  <%= link_to "Sono", sono_path, class: "btn btn-primary my-custom-btn" %>
  <%= link_to "Exercício", exercicio_path, class: "btn btn-primary my-custom-btn" %>
  <!-- O código do ícone vai aqui -->
</div>
