<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecione uma Opção</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link para o seu arquivo CSS -->
</head>

<body>
    <div class="button-container">
        <a href="dor.html" class="button">Dores</a>
        <a href="remedio.html" class="button">Medicação</a>
        <a href="sono.html" class="button">Sono</a>
        <a href="exercicio.html" class="button">Exercício</a>
    </div>
</body>

</html>