<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Bem Vindo ao Portal</title>
    <style>
        /* Adicione estilos personalizados aqui, se necessário */
        .my-custom-heading {
            color: #333;
            text-align: center; /* Centralizar o título */
            margin-top: 20px; /* Espaçamento acima do título */
        }
        .my-custom-btn {
            background-color: #007bff;
            color: #fff;
        }
        .card {
            flex: 1;
            margin: 10px;
            text-align: center; /* Centralizar o texto dentro dos cards */
            width: 15rem; /* Largura fixa para os cards */
            height: 100%; /* Altura fixa para os cards */
        }
        .card-img-top {
            height: 200px; /* Altura fixa para as imagens dentro dos cards */
            object-fit: cover; /* Manter a proporção da imagem */
        }
    </style>
</head>
<body>
    <h1 class="my-custom-heading">Bem vindo ao portal.</h1>

    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 20px;">



        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROHW82s9trd1SU97fdUm5xa-BDpDLo8z95pKPz66BSfdJ3giqEq1roMpyLIujlvDZQkvw&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
                <h5 class="card-title">Dor</h5>
                <p class="card-text"></p>
                <a href="<%= dor_path %>" class="btn btn-primary my-custom-btn">Registrar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOnpkXo_zH7nkyMmhDSUr-MR0dKtun-jZibQ&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
                <h5 class="card-title">Medicação</h5>
                <p class="card-text"></p>
                <a href="<%= remedio_path %>" class="btn btn-primary my-custom-btn">Confirmar Medicação</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW5VImIEez6Zcso7PxXwf7DXBMrK0KQUOOgw&usqp=CAU" class="card-img-top" alt="Ícone de Sono">
            <div class="card-body">
                <h5 class="card-title">Registrar Sono</h5>
                <p class="card-text"></p>
                <a href="<%= sono_path %>" class="btn btn-primary my-custom-btn">Registrar Sono</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6xSdr5AHVwaI9I3b8N2qcTr0XBzONzRFdPRQfECksQfdopju7-Y8G03YpVHAq1-zw-1c&usqp=CAU" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Exercício</h5>
                <p class="card-text"></p>
                <a href="<%= exercicio_path %>" class="btn btn-primary my-custom-btn">Registrar</a>
            </div>
        </div>
    </div>
</body>
</html>
