<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Medicamentos</title>
    <link rel="stylesheet" href="cadRemedio.css"> <!-- Link para o seu arquivo CSS -->
    <script src="cadRemedio.js"></script>
</head>

<body>
    <div class="container">
        <h1>Cadastrar Medicamentos</h1>
        <form id="medications-form">
            <div class="input-container">
                <label for="medication-name">Nome do Medicamento:</label>
                <input type="text" id="medication-name" name="medication-name">
            </div>
            <div class="input-container">
                <label for="medication-dose">Dose:</label>
                <input type="text" id="medication-dose" name="medication-dose">
            </div>
            <div class="input-container">
                <label for="medication-frequency">Horários de Toma:</label>
                <div id="frequency-inputs">
                    <input type="time" id="medication-frequency" name="medication-frequency" class="frequency-input">
                </div>
                <button type="button" id="add-frequency">Adicionar Horário</button>
            </div>                                                          
            <button type="submit">Cadastrar Medicamento</button>
        </form>
        <h2>Medicamentos Cadastrados</h2>
        <ul id="medications-list">
            <!-- Aqui será gerada a lista de medicamentos cadastrados -->
        </ul>
    </div>
</body>

</html>