body {
    font-family: Arial, sans-serif;
    background: linear-gradient(60deg, #1f6764, #ff3366); /* Gradiente de fundo */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="range"] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

button {
    background-color: #1f6764;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1f6764;
}

#pain-location {
    width: 600px; 
    font-size: 16px
}

#other-location {
    width: 590px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 15px;
    margin-left: 15px;
}

.center-content {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* 100% da altura da janela do navegador */
}
