body {
    font-family: Arial, sans-serif;
    background: linear-gradient(60deg, #1f6764, #ff3366); /* Gradiente de fundo */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

/* Estilos da tabela */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilos de cabeçalho da tabela */
thead {
    background-color: #333;
    color: #fff;
}

