<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Medicação</title>
    <link rel="stylesheet" href="remedio.css"> <!-- Link para o seu arquivo CSS -->
    <script src="remedio.js"></script>
</head>

<body>
    <div class="container">
        <h1>Confirmar Medicação</h1>
        <div class="medication-info">
            <p><strong>Medicamento:</strong> <span id="medication-name">Nome do Medicamento</span></p>
            <p><strong>Dose:</strong> <span id="medication-dose">X mg</span></p>
            <p><strong>Horários de Toma:</strong> <span id="medication-frequency">08:00, 12:00, 18:00</span></p>
        </div>
        <div class="confirmation">
            <p>Você tomou a medicação?</p>
            <button id="confirm-button">Sim</button>
            <button id="not-confirm-button">Não</button>
        </div>
    </div>
</body>

</html>
