<div id='calendar'></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendar = $('#calendar');
    calendar.fullCalendar({
      events: <%= @consultas.to_json.html_safe %>,  // Carregue as consultas como eventos
      // Outras configurações do calendário
    });
  });
</script>
